<div class="row" id="editor-wrapper">
		<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
      <form id="userInfoForm">
          <ngb-tabset [destroyOnHide]="false">
            <ngb-tab title="General">
              <ng-template ngbTabContent>
                <div class="form-group row">
                  <input type="text" class="form-control" id="name" [formControl]="name" placeholder="Name">
                </div>
                <div class="form-group row">
                  <input type="email" class="form-control" id="email" [formControl]="email" placeholder="E-mail">
                </div>
                <div class="form-group row">
                  <input type="text" class="form-control" id="company" [formControl]="company" placeholder="Company">
                </div>
                <div class="form-group row">
                  <input type="email" class="form-control" id="occupation" [formControl]="occupation" placeholder="Occupation">
                </div>
                <div class="form-group row">
                  <input type="email" class="form-control" id="mobile" [formControl]="mobile" placeholder="mobile">
                </div>
                
                
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Image">
              <ng-template ngbTabContent>
                  <!-- <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />

                  <button type="button" class="btn btn-success btn-s" 
                    (click)="uploader.uploadAll()" 
                    [disabled]="!uploader.getNotUploadedItems().length" accepts=".jpg,.jpeg,.png,.gif,.bmp,.tiff" >
                        Upload an Image
                  </button> -->
                  
                  <input type="file" (change)="fileChangeEvent($event)" />

                  <image-cropper
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="4 / 3"
                    [resizeToWidth]="128"
                    [roundCropper]="false"
                    format="jpeg"
                    (imageCroppedBase64)="imageCroppedBase64($event)"
                    (imageLoaded)="imageLoaded()"
                    (loadImageFailed)="loadImageFailed()"
                    style="max-height: 33vh"
                    [style.display]="cropperReady ? null : 'none'"
                  ></image-cropper>
                  <img [src]="croppedImage" />
                  

                  
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </form>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 clipboard-inputs" id="clipboard">
        <!-- <p if="name.value != ''">{{name.value}}</p>
        <p>{{email.value}}</p> -->
        <table>
          <tr>
            <td><b>{{name.value}}</b></td>
          </tr>
          <tr>
            <td>
              <div>
                <span><b>{{occupation.value}}</b> </span>
                <span [hidden] = "company.value == ''"> | {{company.value}}</span>
              </div>
            </td>
          </tr>
          <tr [hidden]="email.value == '' ">
            <td><p style="color:#FA301F">email: <a href="mailto:{{email.value}}">{{email.value}}</a> </p></td>
          </tr>
          <tr [hidden]="mobile.value == ''">
            <td><p style="color:#FA301F">phone: <a href="tel:{{mobile.value}}">{{mobile.value}}</a></p></td>
          </tr>
        </table>
        <button id="copy-clipboard-btn" class="btn btn-success" data-clipboard-action="copy" data-clipboard-target="#clipboard">Copy clipboard</button>
    </div>
  </div>
